/* CSS styles for Hud */

/* the StackPane layout that's the root of the scene */
#root {
    -fx-background-color: #111;
}

/* VBox full of text for the user to look at */
#alerts {
    -fx-spacing: 40;
}

Text {
    -fx-fill: #ccc;
}

/* Text styles */
.action Text, .result Text {
    -fx-fill: #fff;
}

/*.user-input {*/
    /*-fx-font-size: 75;*/
/*}*/

.entity, .entity Text {
    -fx-fill: #fff;
                           /* type, color, radius, spread, x, y */
    -fx-effect: dropshadow(gaussian, #999, 30, 0.1, 0, 0);
}


/* styling for our FlowPanes */
.small {
    -fx-font-size: 40;
    -fx-hgap: 15; /* rougthly 40/2 */
    -fx-vgap: 8; /* 40/5 */
}

.large {
    -fx-font-size: 75;
    -fx-hgap: 30; /* roughly 75/2 */
    -fx-vgap: 0; /* 75.5 */
}